.App {
  place-items: center;
  background: linear-gradient(120deg, #4285f4, #ffffff);
}

.card-container {
  padding: 1rem;
  place-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 2rem));
  place-items: center;
  gap: 1rem;
}
.card-sec {
  text-align: center;

  background-color: whitesmoke;
}
.nav-sec {
  background-color: black;
}
.footer-sec {
  bottom: 0;
  width: "100%";
  background-color: #93979e !important;
  font-size: larger !important;
}
